
body {
  width: 100vw;
  overflow-x: hidden;
  margin: 0;
  padding: 10;
  height: 3000px;

  font-family: "Saira", sans-serif;
}

.primary {
  color: $primary;
}

.dark {
  color: $dark;
}

.light {
  color: $light;
}

.navbar {
  position: fixed;
  top: 50%;
  left: 30px;
  transform: translateY(-50%);

  z-index: 999;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  .navbar__link {
    margin: 0px 15px 30px;

    color: $dark;
    font-size: 28px;
    font-weight: 100;
    text-decoration: none;

    box-sizing: border-box;

    &:hover {
      border-bottom: 2px solid $dark;
    }

    &.light {
      color: $light;

      &:hover {
        border-bottom: 2px solid $light;
      }
    }
  }

  @media screen and (max-width: 860px) {
    left: 15px;

    .navbar__link {
      font-size: 24px;
    }
  }

  @media screen and (max-width: 768px) {
    width: 100vw;
    height: 100vh;
    position: fixed;
    left: 100vw;
    align-items: flex-end;
    justify-content: center;
    transition: all 0.2s linear;

    background: linear-gradient(to right, $primary 50%, $dark 50%);

    &.active {
      left: 0vw;
    }

    .navbar__link {
      color: $light;
      font-size: 20px;
    }
  }
}

.section {
  width: 100vw;
  height: 100vh;

  display: grid;
  grid-template-columns: 150px auto 150px;
  grid-template-rows: 150px auto 150px;

  background: $primary;
  background: linear-gradient(to bottom right, $primary 50%, $dark 50%);

  .heading {
    color: $dark;
    font-size: 72px;
    font-weight: 900;
    text-align: center;
    text-transform: uppercase;

    grid-column: 2/3;
    margin: 30px 0px 0px;

    @media screen and (max-width: 860px) {
      font-size: 60px;
    }

    @media screen and (max-width: 768px) {
      font-size: 42px;
    }
  }

  &:nth-child(odd) {
    background: linear-gradient(to top left, $primary 50%, $dark 50%);
    .heading {
      color: $primary;
    }
  }

  @media screen and (max-width: 640px) {
    grid-template-columns: 1fr;

    .heading {
      grid-column: span 2;
    }
  }
}
